.DS_Store
*.duckdb
raw_data/
logs/
venv/
__pycache__/
*.pyc
.pytest_cache/
dbt/target/
dbt/dbt_packages/
dbt/logs/
airflow/logs/
airflow/airflow.cfg
airflow/*.db
airflow/*.db-shm
airflow/*.db-wal
airflow/*.json.generated
